{% extends "base.html" %}

{% block sidebar %}
<div class="year">2026</div>

<div class="year">2025</div>

<div class="year">2024</div>
<div class="month">December</div>
<div class="month">November</div>
<div class="month">June</div>
<div class="month">May</div>
<div class="month">April</div>
<div class="month">January</div>

<div class="year">2023</div>
{% endblock %}

{% block content %}
<h1>Surf Journal</h1>

{% for entry in logs %}
    <article>
        <h3>{{ entry.log.session_date }} – {{ entry.log.spot_name }}</h3>
        <p><em>{{ entry.log.group_name }}</em></p>
        <p>{{ entry.log.notes }}</p>
        <hr>
    </article>
{% endfor %}
{% endblock %}